{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_name %}{% endblock page_name %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href='{% static 'tailwind.output.css' %}'>
        <link rel="stylesheet" href='{% static 'common.css' %}'>
    </head>
    <body class = "t-text-gray-900 t-mt-24 t-font-light">
        <header class="t-container t-max-w-full t-inset-0 t-flex t-items-center t-justify-between t-px-3 t-h-20 t-border-b t-border-gray-500 t-fixed">
            {% include "partials/nav.html" %}
            {% block search-bar %}
                <a href="{% url 'clothes:search' %}" >
                    원하는 옷 검색
                </a>
            {% endblock search-bar %}
        </header>
        
        {% block content %}
        {% endblock content %}

    </body>
</html>